.about_cards2{
    display:grid;
    grid-template-columns: repeat(3,1fr);
   

}
#exh{
    margin-top:0;
    margin-left:40rem;
}
.about_card2{
    background-color: rgba(90, 191, 231, 0.2);
    z-index:2;
   padding:1rem;
   text-align: center;
   margin:1rem 1rem;
   border-radius: 2rem;
   color:var(--color-light)
}
.about_card2:hover{
    background-color: rgba(106, 199, 233, 0.5);
    color:rgb(1, 2, 2);
   
}