header{
    /* height: 100vh; */
    padding-top:3.8rem;
    /* overflow:hidden; */
}
.header_conatiner{
    height:100%;
    position:relative;
}
.cta{
    /* margin:2.5rem 2.5rem; */
    gap:1rem;
    display:flex;
    justify-content:center;
}
.header_socials{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:0.8rem;
    position: absolute;
    left:10rem;
    bottom:3rem;
}
/* .header_social::after{
    content:' ';
    width:1px;
    height:2rem;
    background-color: var(--color-primary);
} */
.me{
    background-color:var(--color-primary);
    height:22rem;
    margin:auto;
    /* width:50%; */
    width:22rem;   
    /* position:absolute; */
    /* left:50%;
    right:50%; */
    border-radius: 12rem 12rem 12rem 12rem;

  }
  .scroll_down{
    position:absolute;
      left:70rem;
      bottom:5rem;
      transform: rotate(90deg);


  }
  
@media screen and (max-width:1024px){
    .container{
       height:68vh;
    }
  
}
@media screen and (max-width:600px){
    .container{
        height:68vh;
    }
    .header_socials,.scroll_down{
        display:none;
    }
    
}
#mainn{
    margin:0px 0px 0px 0px;
}